<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
    </thead>
        <%= @articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
            </td>
            <td> 
              <%= article.description %>
            </td>
            <td>
              <td><button><%= link_to "Show", article %></button></td>
              <td><button><%= link_to "Edit", edit_article_path(article) %></button></td>
              <td><button><%= link_to "Destroy", article, method: :delete, data: { confirm: "Are you sure?" } %></button></td>
            </td>
          </tr>
        <% end %>
    </thead>
  </table>
